/**general styles*/

.search-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 10vh;
  background: #161616;
  align-items: center;
  justify-content: center;
}

.search-container input {
  outline: none;
  border: 0;
}

.search-border {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

/**Mobile view*/
.search-container input {
  width: 70vw;
  height: 5vh;
  font-size: 1rem;
}

.search-border {
  width: 80vw;
  height: 6vh;
  background: #ffffff;
  padding: 0.5rem;
}

/**Tablet view*/
@media all and (min-width: 700px) {
  .search-container input {
    width: 70vw;
    height: 5vh;
    font-size: 1rem;
  }

  .search-border {
    width: 85vw;
    height: 6vh;
    background: #ffffff;
    padding: 0.5rem;
  }
}

/**Desktop view*/
@media all and (min-width: 960px) {
  .search-container input {
    width: 75vw;
    height: 5vh;
    font-size: 1rem;
  }

  .search-border {
    width: 80vw;
    height: 6vh;
    background: #ffffff;
    padding: 0.5rem;
  }
}
